<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <appSettings>
    <add key="filename" value="mileage.txt"/>
    <add key="timerPositionMS" value="10"/>
    <add key="timerSaveMS" value="5000"/>
    <add key="autoStartup" value="1"/> <!-- 1 - enable startup -->
  </appSettings>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
  </startup>
</configuration>